{% extends 'themes/drupal-8-stanford-light-theme/stanford_light_728/templates/page.html.twig' %}
{% block content %}
{{ attach_library('stanford_light_728/full-bleed') }}
{#{{ attach_library('stanford_light_728/scroll-to') }}#}
	<div class="accordion" id="accordion" style="background-position: 50% 0px;">
	    <div class="full-bleed">
				{{ page.full_bleed }}
	    </div>
	</div>

	<main role="main" class="main">
		<div class="layout-content">

            {{ page.highlighted }}
            {{ page.main_top }}
            {{ page.main_upper }}

			<div id="content" class="content full">
				<div class="container">
					<div class="row">

                        {% if page.sidebar_first %}
							<aside class="layout-sidebar-first" role="complementary">
								<div class="col-md-3">
                                    {{ page.sidebar_first }}
								</div>
							</aside>
                        {% endif %}

                        {% if page.sidebar_second and page.sidebar_first %}
                            {% set col_class = 'col-md-6' %}
                        {% elseif page.sidebar_second or page.sidebar_first %}
                            {% set col_class = 'col-md-9' %}
                        {% else %}
                            {% set col_class = 'col-md-12' %}
                        {% endif %}

						<div class="{{ col_class }}">
                            {{ page.content }}
						</div>

                        {% if page.sidebar_second %}
							<aside class="layout-sidebar-second" role="complementary">
								<div class="col-md-3">
                                    {{ page.sidebar_second }}
								</div>
							</aside>
                        {% endif %}

					</div>
				</div>
			</div>

            {{ page.main_lower }}

		</div>
	</main>

{% endblock %}
