#accordion .views-row div:nth-child(1):not(.field-content) {
  width: 100%;
  position: absolute;
  z-index: -100;
  top: 0;
}
#accordion {
  position: relative;
  font-weight: 100;
  background: black;
  z-index: 0;
  overflow: hidden;
  /*  height: 424px;*/
}
#accordion .views-row, .accordion  {
  margin-bottom: 0;
}
#accordion .views-row.current div:nth-child(2):not(.field-content),
#accordion .views-row.current div:nth-child(3):not(.field-content) {
  background-color: rgba(0,0,0,0.4);
}
#accordion .views-row div:nth-child(2):not(.field-content) {
  border-top: 2px solid rgb(127, 127, 127);
  border-top: 2px solid rgba(0, 0, 0, .2);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  cursor: pointer;
}
#accordion .views-row div:nth-child(2):not(.field-content):hover {
  background: rgba(0,0,0,0.2);
}
#accordion .views-row div:nth-child(2):not(.field-content) h3 {
  color: #ffffff;
  font-weight: 100;
}
#accordion .views-row div:nth-child(3):not(.field-content) {
padding-left: 3.5em !important;
}
#accordion .views-row div:nth-child(3):not(.field-content) a {
  display: block;
  padding-top: 0.7em;
  color: yellow;
  font-weight: 100;
}
#accordion .views-row div:nth-child(2):not(.field-content) h3:before {
  /*content: "+";*/
  content: '\002B';
  font-size: 30px;
  color: yellow;
  padding: 0 10px 0 0;
  font-weight: 100;
}
#accordion .views-row.current div:nth-child(2):not(.field-content) h3:before {
  /*content: "-";*/
  content: "\2212";
}
#accordion .views-row div:nth-child(2):not(.field-content),
#accordion .views-row div:nth-child(3):not(.field-content) {
  position: relative;
  height: 100%;
  color: #fff;
  top: 5%;
  left: 62%;
  padding-top: 1.2em;
  padding-right: 2em;
  padding-bottom: 0.6em;
  padding-left: 2em;
  width:30%;
  background-color: rgba(0,0,0,0.8);
}
#accordion .views-row div:nth-child(3):not(.field-content) {
  padding-top: 0;
  display: none;
}
#accordion .views-row div:nth-child(1):not(.field-content) {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#accordion .views-row.current div:nth-child(3):not(.field-content) {
  display: block;
}
#accordion .views-row.current div:nth-child(1):not(.field-content) {
  opacity: 1;
}

/* accordion to mobile */
@media (min-width: 980px) and (max-width: 1199px) {
  #accordion .views-row, #accordion .views-row a {
    font-size: 90%;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  #accordion .views-row, #accordion .views-row a {
    font-size: 80%;
  }
  #accordion .views-row.first:before,
  #accordion .views-row.last:after {
    height: 1.5em;
  }
  #accordion .views-row div:nth-child(2):not(.field-content),
  #accordion .views-row div:nth-child(3):not(.field-content) {
    padding-top: 0.4em;
    left: 45%;
    width: 45%;
  }
}
@media (max-width: 767px) {
  #accordion .views-row, #accordion .views-row a {
    font-size: 90%;
  }
  #accordion .views-row div:nth-child(2):not(.field-content) {
    border-top: 1px solid rgb(99, 99, 99);
  }
  #accordion .views-row div:nth-child(1):not(.field-content) {
    position:relative;
    display: none;
  }
  #accordion .views-row.current div:nth-child(1):not(.field-content) {
    display: block;
  }
  #accordion .views-row div:nth-child(2):not(.field-content),
  #accordion .views-row div:nth-child(3):not(.field-content) {
    left:0;
    width:100%;
    padding-top:0;
    padding-bottom:0;
  }
}